.page-section__wrapper {
  padding-bottom: 34px;
}

.additionally__label {
  display: block;
  margin-bottom: 13px;

  &:last-child {
    // не подключается!!!!!!
    margin-bottom: 34px;
  }
}

.additionally__label--last-child {
  margin-bottom: 34px;
}

.additionally__input {
  border: 1px solid @pinkish-grey;
  width: 30px;
  height: 30px;
}

.additionally__span {
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;
}

.feedback__button {
  width: 280px;
  height: 40px;
  margin-bottom: 23px;
}

.feedback__span {
  display: block;
  line-height: 1.14;
  text-align: center;
  color: @greyish;
}
