.сontact-details__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
  }

  &--mail::before {
    top: 15px;
    right: 15px;
    background: url("../../img/icon-mail.svg") no-repeat;
    background-size: 18px 14px;
    width: 18px;
    height: 14px;
  }

  &--phone::before {
    top: 12px;
    right: 12px;
    background: url("../../img/icon-phone.svg") no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
  }
}

.сontact-details__span {
  margin-right: 11px;
  color: #222222;
}

.сontact-details__input {
  // position: relative;
  flex-grow: 1;
  height: 45px;
  padding-left: 16px;
  font-family: @main-font;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: @greyish;
  border: 1px solid @pinkish-grey;
}

@media (min-width: @tablet-width) {
  .сontact-details__label {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;

    &:last-child {
      margin: 0;
    }
  }

  .сontact-details__span {
    margin-right: 16px;
  }

  .сontact-details__input {
    padding-left: 22px;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .сontact-details__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .сontact-details__label {
    width: 575px;
    margin-right: 78px;
    margin-bottom: 0;
  }

  .сontact-details__span {
    margin-right: 18px;
  }

  .сontact-details__input {
    padding-left: 20px;
  }
}
