.example {
  padding: 33px 0 38px;
  background: @darker-white;
}

.example__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.example__title {
  margin-left: 5.88%;
  margin-bottom: 33px;
  font-size: 36px;
}

.example__text {
  margin-bottom: 27px;
  font-family: @spare-font;
  line-height: 1.29;
  color: @greyish;
}

.wrapper-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.example__item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 44.28%;
  height: 56px;
  margin-right: 14px;
  border: 1px solid @pinkish-grey;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.index__item {
  display: block;
  margin: auto;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.index__desc {
  display: block;
  position: absolute;
  top: 84%;
  left: 20.5%;
  width: 43.55%;
  height: 21px;
  padding: 0 12.9%;
  padding-top: 3px;
  font-family: @spare-font;
  font-size: 12px;
  text-align: center;
  color: @greyish;
  background-color: @darker-white;

  &:last-child {
    left: 15%;
  }
}

.example__expenses {
  margin-bottom: 44px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}

.example__change {
  margin: 0 auto;
  width: 320px;
}

.example__image {
  display: block;
  width: 311px;
  height: 232px;
  margin-bottom: 35px;
}

.example__control {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 0 auto;
}

.control__item {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.control__item-it-was {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 4px;
    left: 50px;
    width: 84px;
    height: 14px;
    border-radius: 6px;
    border: solid 1px @pinkish-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 57px;
    width: 35px;
    height: 7px;
    border-radius: 6px;
    background-color: @lightGreen;
  }
}

.control__changing {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    padding: 0;
    padding-bottom: 0;
    background: transparent;
  }

  .example__wrapper {
    position: relative;
    width: 92.19%;
    margin-bottom: 255px;
  }

  .example__title {
    margin-left: 3.9%;
    margin-bottom: 60px;
    font-size: 60px;
  }

  .example__text {
    margin-bottom: 55px;
    font-size: 16px;
    font-family: @spare-font;
    line-height: 1.5;
    color: @greyish;
  }

  .example__wrapper-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-flex {
    width: 368px;
    margin-bottom: 0;
  }

  .example__item {
    display: block;
    width: 162px;
    height: 72px;
    padding: 22px 58px 24px;
    margin-right: 42px;

    &:last-child {
      padding: 22px 31px 18px;
    }
  }

  .index__item {
    display: block;
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  .index__desc {
    background-color: @white;
  }

  .example__expenses {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  .expenses__text,
  .expenses__number {
    display: block;
  }

  .expenses__text {
    margin-bottom: 11px;
  }

  .example__change {
    position: relative;
    margin: 0;
    width: auto;
    min-height: 462px;
    background: @darker-white;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      height: 462px;
      width: 50%;
      background: #eaeaea;
    }
  }

  .example__image {
    position: absolute;
    top: -151px;
    left: 6%;
    right: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 677px;
    height: 499px;
    margin-bottom: 0;
  }

  .example__control {
    position: absolute;
    bottom: 70px;
    left: 12.8%;
    right: 12.8%;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .control__item {
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .control__item-it-was {
    &::before {
      top: 10px;
      left: 65px;
      width: 428px;
      height: 6px;
      border: none;
      border-radius: 2.5px;
      background-color: #dcdcdc;
    }

    &::after {
      top: -4px;
      left: 265px;
      width: 34px;
      height: 34px;
      border: solid 1px #cdcdcd;
      background-color: @white;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .control__item-has-become {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 283px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @lightGreen;
    }
  }

  .control__changing {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .example__wrapper-main {
    display: flex;
    background: @darker-white;
  }

  .example__wrapper {
    width: 430px;
    margin-bottom: 0;
    margin-left: 110px;
  }

  .example__title {
    margin-left: 110px;
    margin-bottom: 65px;
    font-size: 60px;
  }

  .example__text {
    margin-top: 76px;

    margin-bottom: 70px;
  }

  .example__wrapper-data {
    display: block;
  }

  .wrapper-flex {
    width: 368px;
    margin-bottom: 62px;
  }

  .index__desc {
    background-color: @darker-white;
  }

  .example__expenses {
    width: 334px;
    text-align: left;
  }

  .expenses__text,
  .expenses__number {
    display: inline;
  }

  .expenses__text {
    margin-right: 64px;
  }

  .example__change {
    width: 27.4%;
    background: #eaeaea;
  }

  .example__image {
    top: -172px;
    left: -365px;
  }

  .example__control {
    position: absolute;
    top: 370px;
    left: -330px;
  }
}
