.explanations {
  padding-bottom: 42px;
  // border: 1px solid red;
}

.explanations__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.explanations__title {
  margin-bottom: 35px;
  font-size: 36px;
}

.explanations__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  // border: 1px solid blue;

  &:last-child {
    margin-bottom: 0;
  }
}

.explanation__image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: @lightGreen;
}

.explanation__intro {
  line-height: 1.29;
  color: @greyish;
  font-family: @spare-font;

  // border: 1px solid red;
}

@media (min-width: @tablet-width) {
  .explanations {
    padding-bottom: 55px;
    border-bottom: 1px solid @light-grey;
  }

  .explanations__wrapper {
    width: 80.7%;
    margin-left: 30px;
  }

  .explanations__title {
    margin-bottom: 63px;
    font-size: 60px;
  }

  .explanations__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // border: 1px solid red;
  }

  .explanations__item {
    flex-direction: column;
    align-items: flex-start;
    width: 35.8%;
    min-height: 230px;
    margin-bottom: 89px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }

  .explanation__image {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 37px;
  }

  .explanation__intro {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .explanations {
    padding-bottom: 90px;
    border-bottom: none;
  }

  .explanations__wrapper {
    width: 84.72%;
    margin: 0 auto;
  }

  .explanations__item {
    width: 20.05%;
    margin-bottom: 0;
  }
}
