.greeting-site {
  margin-bottom: 22px;
  padding-top: 25px;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 320px 305px;
}

.greeting-site__title {
  margin-bottom: 25px;
  font-size: 36px;
  color: @white;
  text-align: center;
}

.greeting-site__instruction {
  margin-bottom: 29px;
  color: @white;
  text-transform: uppercase;
}

.greeting-site__image {
  width: 280px;
  height: 270px;
  background-size: 280px 270px;
}

.greeting-site__button {
  width: 280px;
  height: 40px;
  padding: 14px 0 11px;
  font-size: 14px;
}

