.map {
  // border: 1px solid red;
}

.address {
  padding: 31px 20px 26px;
  background-color: @light-grey;
}

.address__text {
  // display: inline-block;
  // поравняется сеткой, например fkex!!!!!!!!!111
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.address__title {
  font-family: @spare-font;
  line-height: 1.43;
  color: @greyish;
}

.map__wrapper {
  position: relative;
  // из-за растояния между блоками!!!!!!!
  margin-bottom: -3px;
}

.map__card-image {
  width: 320px;
  height: 362px;
  background-size: 320px 362px;
}

.map__mark-image {
  position: absolute;
  top: 155px;
  left: 135px;

  width: 55px;
  height: 53px;
  background-size: 55px 53px;
}
