.page-footer {
  background-color: @darker-white;
}

.page-footer__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.page-footer__item {
  border-bottom: 1px solid #dadada;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 55px 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.19%;
    margin: 0 auto;
  }

  .page-footer__item {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
     padding: 57px 0 53px;
  }

  .page-footer__wrapper {
    width: 84.7%;
  }
}
