.page-wrapper {
  position: relative;
  margin-bottom: 22px;
}

.page-header__wrapper-main {
  border-bottom: 1px solid @light-grey;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5%;
  padding: 11px 0 15px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 39px;
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

.menu-toggle {
  width: 26px;
  height: 26px;
  background-color: transparent;
}

.menu-toggle--closed {
  width: 25px;
  height: 19px;
  padding: 5px;
  background: url("../img/icon-mobile-menu.svg");
  background-size: 25px 19px;
  border: none;
}

.menu-toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 27px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.site-list__item {
  padding: 24px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: @black;
  text-align: center;
  border-bottom: 1px solid @light-grey;

  &:first-child {
    border-top: 1px solid @light-grey;
  }

  &:last-child {
    border-bottom: none;
  }
}

.main-nav--closed {
  display: none;
}

.main-nav--nojs,
.main-nav--opened {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-wrapper {
    margin-bottom: 0;
  }

  .page-header {
    padding-top: 13px;
    margin-bottom: 46px;
    border-bottom: none;
  }

  .page-header__wrapper-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 15px;
    margin: 0 auto;
    margin-top: 13px;
    width: 92.5%;
    border: none;
  }

  .page-header__wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .page-header__logo {
    width: 175px;
    height: 58px;
  }

  .page-header__logo-image {
    width: 175px;
    height: 58px;
  }

  .page-header__toggle {
    display: none;
  }

  .main-nav {
    display: block;
    width: 440px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    padding: 12px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    border: none;

    &:first-child {
      border: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-wrapper {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
    background: url("../img/index-background-desktop@1x.jpg") 100% 50% no-repeat;
    min-height: 696px;
    background-size: 720px 696px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/index-background-desktop@2x.jpg") 100% 50% no-repeat;
      background-size: 720px 696px;
    }
  }

  .page-header {
    padding-top: 42px;
    margin-bottom: 14px;
  }

  .page-header__wrapper-main {
    width: 1220px;
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }

  .main-nav {
    width: 480px;
  }

  .site-list__item {
    font-size: 20px;
    font-weight: normal;
    border-bottom: none;

    .site-list__item-a {
      color: @white;
    }
  }
}
