.profile-checkboxes {
  border-bottom: 1px solid #ededed;
  padding: 21px 0 22px;
}


.checkboxes__label {
  display: block;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkboxes__span {
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;
}
