body {
  padding: 0;
  width: 320px;
  margin: 0;
  // text
  font-family: @main-font;
  font-size: 14px;
  line-height: 1;
  color: @black;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p,
img {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: @black;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.button {
  font-family: @main-font;
  display: block;
  box-sizing: border-box;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  background-color: @lightGreen;
  border: none;
  font-size: 16px;
}

button {
  border: none;
}

.wrapper {
  margin: 0 20px;
}

// .input[type="text"] {
//   display: block;
//   // border: 6px solid @pinkish-grey;
//   height: 145px;
// }
