// fonts
@main-font: "Oswald", "Arial", sans-serif;
@spare-font: "Arial", "Oswald", serif;
// color
@white: #ffffff;
@black: #111111;
@greyish: #444444;
@light-grey: #eaeaea;
@lightGreen: #68b738;
@darker-white: #f2f2f2;
@pinkish-grey: #cdcdcd;
@greyish-666: #666666;
// width
@tablet-width: 768px;
@desktop-width: 1440px;
// percent
@mobile-percent: 87.5%;
@tablet-percent: 92.19%;
// задаем статичные единицы измерения и цинтрируем!!!!!!!!!!!1
@desktop-percent: 84.72%;
